/* SANDBOX */

body {
    background: rgb(158, 158, 223);
}


/* .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 200px);
    grid-gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 100px; 
} */

/* .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    grid-template-rows: repeat(3, 200px);
    grid-gap: 10px;
    grid-auto-rows: 100px;
} */

/* We make our change to 'grid-auto-rows' */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    grid-template-rows: repeat(3, 200px);
    grid-gap: 10px;
    grid-auto-rows: auto;  
}

.box1 {
    grid-row: span 2;
}

.box9 {
    grid-column: 1 / -1;
}



.box {
    display: grid;
    background: rgb(170, 47, 47);
    justify-content: center;
    align-items: center;
}

